table{
    padding-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

.unselectable {
    color: #fff;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.selectable{
    color: #000;
}